* {
  box-sizing: border-box;
}

html {
  height: 100vh;
}

body {
  font-family: "Lato", sans-serif;
  font-size: 10pt;
  background-color: #ffd1dc;
  width: 100%;
}

#title {
  display: flex;
  justify-content: center;
  text-shadow: #60b8ce 2px 4px;
}

#subtitle {
  text-align: center;
  font-size: 20pt;
  position: fixed;
  top: 125px;
  right: 350px;
  color: #d64698;
}

header {
  background-color: #f8f8f8;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  font-family: "Lobster", cursive;

  z-index: 1;
  border-bottom: solid 5px #60b8ce;
  border-top: solid 5px #60b8ce;
  border-top-style: double;
  border-bottom-style: double;
}

#miami {
  width: 300px;
  height: 180px;
  object-fit: cover;
}

#silhouette {
  height: 130px;
  width: 115px;
  object-fit: cover;
  padding: 20px;
}

h1 {
  font-size: 40pt;
  height: 60px;
  padding: 20px;
}

main {
  position: relative;
  top: 250px;
  margin: 0 3rem 3rem 3rem;
}

.loading {
  font-family: "Lobster", cursive;
  font-size: 30pt;
  place-items: center;
  text-align: center;
}

.user-response {
  background-color: white;
  height: 670px;
  width: 430px;
  padding: 2rem 0 0 0;
  display: grid;
  background-color: white;
  place-items: center;
  border-radius: 10%;
  border: double 3px #60b8ce;
  box-shadow: 7px 7px 3px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s;
}
.user-response:hover {
  transform: scale(1.07);
}

#user-responses {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(25rem, 1fr));
  grid-gap: 1.5rem;
}

h2 {
  font-family: "Lobster", cursive;
  font-size: 30pt;
  text-transform: capitalize;
  margin: 1rem 0;
  text-shadow: #60b8ce 2px 4px;
  text-align: center;
}

h2 a {
  text-decoration: none;
  color: black;
}

h3 {
  font-family: "Lobster", cursive;
  font-size: 18pt;
  padding: 0 auto auto auto;
  color: #d64698;
  margin: 0;
  text-transform: capitalize;
}

#restaurant-pic {
  width: 300px;
  height: 200px;
  object-fit: cover;
  border-radius: 10%;
  box-shadow: 3px 3px 2px rgba(0, 0, 0, 0.1);
}

#quote {
  font-style: italic;
  padding: 0;
  text-align: center;
  font-size: 12pt;
}

.quotation {
  display: flex;
  justify-content: center;
}

.mark {
  color: #d64698;
  font-size: 50pt;
  padding: 1rem 3rem;
  opacity: 0.5;
}

.cuisine span:nth-child(1) {
  font-family: "Lobster", cursive;
  font-size: 18pt;
}

.cuisine span:nth-child(2) {
  text-transform: capitalize;
  font-size: 12pt;
}

.must-and-great {
  display: flex;
  justify-content: center;
}

.must-try {
  width: 150px;
}

h4 {
  margin: 1rem 2rem 1rem 1rem;
  font-family: "Lobster", cursive;
  font-size: 18pt;
}

.fave-item {
  text-transform: capitalize;
  font-weight: 400;
  text-align: center;
  font-size: 11pt;
}

h5 {
  margin: 1rem 0rem 1rem 3rem;
  font-family: "Lobster", cursive;
  font-size: 18pt;
}

.great-for {
  place-items: center;
}

.great-for li {
  list-style: none;
  font-size: 10pt;
}

@media (max-width: 860px) {
  h1 {
    font-size: 20pt;
  }
  #miami {
    width: 100px;
    height: 60px;
    object-fit: cover;
  }

  #silhouette {
    height: 90px;
    width: 80px;
    object-fit: cover;
  }

  #subtitle {
    display: none;
  }

  #user-responses {
    place-items: center;
  }
}
